table,td{
    border:1px solid black;
    /*border-collapse: collapse;*/
}
td{ 
    padding: 5px 10px 5px 10px ;
    width: 30px;
    height: 50px;
    text-align: center;
}
#calcu{ 
    padding: 5px 10px 5px 10px ;
    width: 30px;
    height: 10px;
    text-align: center;
    border: none;
}
#inputTxt{
    text-align: right;
    font-size: 40;
    height: 30px;
}
#result{
    text-align: right;
    font-size: 30;
    font-weight: bold;
    border: none;
}
.button:hover{
    background-color: green;
    color: wheat;
    font-weight: 600; /* font-weight:글자 굵기*/
    cursor: pointer;
}
